@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 20px;
    font-family: "Inconsolata";
    background: #334155;
    color: #ffffff;
    font-size: 24px;
}

h1 {
    text-align: center;
    margin: 50px 0 50px 0;
}

.artists {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.image {
    background-color:#232323;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 280px;
    padding: 15px;
    text-align: center;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.image h2 {
    margin: 10px 0;
    font-size: 22px;
}

.image p {
    margin: 6px 0;
    font-size: 14px;
}

.search {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.search input {
    width: min(500px, 80vw);
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 16px;
}

.search button {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 16px;
    cursor: pointer;
    
}

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center
}

.suggestions {
    position: absolute;
    top: 60px;
    width: min(500px, 80vw);
    background-color: white;
    color: black;
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
}

.suggestions div {
    padding: 8px;
    cursor: pointer;
}

.suggestions div:hover {
    background: #eeeeee;
}

.filters {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-group input {
    width: 135px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.filter-group select {
    width: auto;
}

.filters button {
    margin: 10px;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 16px;
    cursor: pointer;
}

.locations-select{
    margin-top: 6px;
}

.artist-layout {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: center;
    align-items: stretch;
}

.artist-card {
    width: 280px;
}

.map-layout {
    flex: 1;
    max-width: 1000px;
}

#map {
    height: 100%;
    min-height: 500px;
    border-radius: 8px;
}

.home-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.home-link:hover {
    text-decoration: none;
}

.artist-page h1 {
    position: relative;
    left: -8px;
}