<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Groupie Tracker</h1>

<div class="search-container">
    <form class="search" action="/search" method="GET">
        <input type="text" id="searchInput" name="query" placeholder="Rechercher..." value="{{.Query}}">
        <button type="submit">Rechercher</button>
    </form>

    <div id="suggestions" class="suggestions"></div>
</div>

<form action="/filter" method="GET" class="filters">

    <div class="filter-group">
        <label>Date de création (année)</label>
        <div class="range-inputs">
            <input type="number" name="creationMin" placeholder="Min">
            <input type="number" name="creationMax" placeholder="Max">
        </div>
    </div>

    <div class="filter-group">
        <label>Premier album (année)</label>
        <div class="range-inputs">
            <input type="number" name="albumMin" placeholder="Min">
            <input type="number" name="albumMax" placeholder="Max">
        </div>
    </div>

    <div class="filter-group">
        <label>Membres du groupe</label>
        <div class="range-inputs">
            <input type="number" name="membersMin" placeholder="Min">
            <input type="number" name="membersMax" placeholder="Max">
        </div>
    </div>

    <div class="filter-group">
        <label>Lieux de concert</label>
        <select name="locations" multiple size="1" class="locations-select">
            {{range .Locations}}
                <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </div>

    <button type="submit">Filtrer</button>

</form>

<div class="artists">
    {{range .Artists}}
    <div class="image">
        <img src="{{.Image}}">
        <h2>{{.Name}}</h2>
        <p>Créé en {{.CreationDate}}</p>
        <p>Premier album : {{.FirstAlbum}}</p>
        <p>Membres :</p>
        <p> {{range .Members}}{{.}}, {{end}}</p>
        <p>Lieux de concert :</p>
        <p>{{range .Locations}}{{.}}, {{end}}</p>
    </div>
    {{end}}
</div>

<script src="/static/script.js"></script>

</body>
</html>